{{>header}}

<div class="main-content">
    <h1>{{title}}</h1>
    <p>City:</p>

    <form>
        <input type="text" placeholder="Location">
        <button type="">Search</button>
    </form>
    <p id="city"></p>
    <p id="result"></p>

</div>
{{>footer}}